body {
    background-image: url('../image/star.png'),url('../image/bg4.jpg');
    background-repeat: repeat,no-repeat;
    background-size:100%,cover;
    margin: 0px 60px 0px 60px;
    font-family: "微軟正黑體";
}
h2 {
    font-size: 32px;
}
a {
    text-decoration: none;
}
section
{

    padding: 8px 30px 20px 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    clear: both;

}

/*頁首*/
header {
    background-color: #d88480;
    border-bottom-right-radius:15px ;
    border-bottom-left-radius:15px ;
}
header h1 {
    color: #FFFFFF;
    font-size: 40px;
    font-family:"Comic Sans MS";
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    
}
/*超連結*/
li.RESUME {
    font-family:"Comic Sans MS";
    font-weight: 100;
    font-size: 20px;
    display: inline-flex;
    padding: 20px;  
}
ul.RESUME {
    background-color: rgb(185, 64, 64);
    color: #ffffff;
    text-align: center;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;

}
nav a {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/*頁尾*/
footer {
    background-color: #1c2038;
    text-align: center;
    height: 50px;
    color: aliceblue;
    padding: 5px 0px 0px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*backtotop*/
#top {
    position: fixed;
    right: 0px;
    bottom: 20px;
    margin-right: 10px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    width: 40px; 
    height: 40px;
    text-align: center;
    vertical-align: middle;
    /* visual styling */
    text-decoration: none;
    padding: 13px 10px 0 10px;
    font-family: "Comic Sans MS";
    color: rgb(255, 255, 255);
    background: #afafaf67;
    border-radius: 10px;
    white-space: nowrap;
}