.section5 {
  height: 830px;
  background-color: #fdfaff;
}

.title {
  font-family: "Comic Sans MS";
}

.tabs {
  height: 100%;
  margin: 10px auto;
}

input {
  opacity: 0;
}

label {
  cursor: pointer;
  background: -webkit-linear-gradient(#92194b, #92196a);
  color: #eee;
  border-radius: 5px 5px 0 0;
  padding: 1.5% 5%;
  float: left;
  margin-right: 5px;
  font-size: 24px;
}

label:hover {
  background: -webkit-linear-gradient(rgb(128, 16, 40), rgb(80, 10, 31));
}

input:checked+label {
  background: #5f1245;
  color: #FFFFFF;
}

.tabs input:nth-of-type(1):checked~.panels .pane2:first-child,
.tabs input:nth-of-type(2):checked~.panels .pane2:nth-child(2),
.tabs input:nth-of-type(3):checked~.panels .pane2:nth-child(3),
.tabs input:nth-of-type(4):checked~.panels .pane2:last-child {
  opacity: 1;
}

.panels {
  float: left;
  clear: both;
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 0 10px 10px 10px;
  min-height: 315px;
}

.pane2 {
  width: 100%;
  height: 205%;
  opacity: 0;
  position: absolute;
  background: rgba(248, 232, 255, 0.699);
  border: #333 1px;
  border-radius: 0 10px 10px 10px;
  padding: 20px;
  box-sizing: border-box;
}

.pane2 h2 {
  font-size: 32px;
  margin: 0;
  padding-left: 20px;
}

.pane2 img {
  height: 38%;
  clear: both;
  padding: 0px 5px 10px 0px;
  margin-top: 15px;
}

.Experiencetext {
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 90%;
  width: 28%;
  padding: 0px 20px;
  border: #5f12454b solid 1px;
  box-shadow: 5px 5px 5px rgba(150, 76, 165, 0.247);
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 15px 20px 0px 0px;
}

/*ymsh*/
.Experiencetext2 {
  background-color: #FFFFFF;
  border: #5f12454b solid 1px;
  box-shadow: 5px 5px 5px rgba(150, 76, 165, 0.247);
  border-radius: 10px;
}

.Experiencetext2 p {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 10px 0px 20px;
}

.exp2 h2 {
  -webkit-column-break-before: always;
  padding-bottom: 15px;
}

#y2,
#y3 {
  height: 150px;
  padding-left: 10px;
  clear: both;
}

#y6,
#y8,
#y5,
#y7 {
  width: 220px;
  padding-left: 10px;
  clear: both;
}

#y1,
#y10,
#y9 {
  height: 240px;
  padding-left: 10px;
  float: left;
}

.ho {
  padding-top: 24.5px;
}

.exp2 {
  columns: 3;
  height: 100% auto;
}

/*cycu*/
.exp3 {
  columns: 2;
  height: 100%;
}

.exp3 h2 {
  -webkit-column-break-before: always;
  padding-bottom: 15px;
}

.Experiencetext2 span {
  font-size: 28px;
}

#c1 {
  width: 445px;
  padding: 0px 0px 10px 20px;
}

#c2 {
  width: 495px;
  padding: 0px 0px 10px 20px;
  margin-top: 20px;
}

#w1 {
  width: 520px;
  padding: 0px 0px 10px 20px;
  margin-top: 20px;
}

#w2 {
  width: 580px;
  padding: 0px 0px 10px 20px;
  margin-top: 20px;
}
